<hr/>

<a [routerLink]="['/admin-animaux-form/0']"><div class="btn btn-success" >Ajouter un nouvel animal</div></a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Race</th>
            <th>Date de naissance</th>
            <th>Description</th>
            <th>Statut</th>
            <th>ID worker</th>
            <th>Image</th>
            <th></th>
        </tr>

        <tr *ngFor="let animal of animal$ | async">
            <td>{{ animal.nom }}</td>
            <td>{{ animal.race }}</td>
            <td>{{ animal.naissance }}</td>
            <td>{{ animal.description }}</td>
            <td>{{ animal.statut }}</td>
            <td>{{ animal.idWorker }}</td>
            <td>
                <img
                *ngIf="animal.imageBase64"
                [src]="'data:image/jpeg;base64,' + animal.imageBase64"
                class="card-img-top"
                alt="{{ animal.nom }}"
                style="height: 50px; width: 50px; object-fit: cover;"
              />
            </td>
            <td>
                <div class="btn-group">
                    <a [routerLink]="['/admin-animaux-form', animal.id]" style="text-decoration: none"><div class="btn btn-warning" >Modifier</div></a>
                    <div class="btn btn-danger" (click)="deleteAnimal(animal)">Supprimer</div>
                </div>
            </td>
        </tr>
    </thead>
</table>

