<nav class="navbar navbar-expand-lg bg-body-tertiary position-relative" style="z-index: 2;">
  <div class="container-fluid">
    <a href="/">
      <img src="logo-min.png" width="80" height="80" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <div class="navbar-nav">
        <a class="nav-link" [routerLink]="['/infos']" routerLinkActive="active">Infos</a>
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Accueil</a>

        @if (!role)
        {
          <a class="nav-link" [routerLink]="['/connexion']" routerLinkActive="active">Connexion</a>
          <a class="nav-link" [routerLink]="['/inscription']" routerLinkActive="active">Inscription</a>
        }
        @else
        {
          @if (role == "ADMIN")
          {
            <a class="nav-link" [routerLink]="['/admin-animaux']" routerLinkActive="active">Gestion des Animaux</a>
            <a class="nav-link" [routerLink]="['/admin-boutique']" routerLinkActive="active">Gestion des Produits</a>
            <a class="nav-link" [routerLink]="['/admin-utilisateurs']" routerLinkActive="active">Gestion des Utilisateurs</a>
          }
          @if (role == "WORKER")
          {
            <a class="nav-link" [routerLink]="['/benevole-ajout']" routerLinkActive="active">S'occuper d'un autre animal</a>
            <a class="nav-link" [routerLink]="['/benevole-profile']" routerLinkActive="active">Vos Animaux</a>
          }

          <a class="nav-link" [routerLink]="['/boutique']" routerLinkActive="active">Boutique</a>
          <a class="nav-link" [routerLink]="['/panier']" routerLinkActive="active">Panier</a>
        }
      </div>

      @if (role)
      {
        <div class="navbar-nav ms-auto">
          @if (role == "CLIENT")
          {
            <a class="nav-link" [routerLink]="['/profile']" routerLinkActive="active">Profil</a>
          }
          <a class="nav-link" [routerLink]="['/deconnexion']" routerLinkActive="active">Déconnexion</a>
        </div>
      }

    </div>
  </div>
</nav>
