  <!-- Hero Section -->
<section class="py-5 text-center text-white" style="background-image: url('bg_infos.jpg'); background-size: cover; background-position: center;">
  <div class="container bg-dark bg-opacity-50 p-5 rounded">
    <h1 class="display-4">Bienvenue au Refuge</h1>
    <p class="lead">Près de 45 000 animaux abandonnés tous les ans, luttons ensemble !</p>
    <a [routerLink]="[ '/home' ]" class="btn btn-light btn-lg mt-3">Commencer maintenant</a>
  </div>
</section>


<!-- Features Section -->
<section class="py-5 bg-light">
    <div class="container">
    <div class="text-center mb-5">
    <h3 class="fw-bold">Statistiques en France en 2024</h3>
    </div>
    <div class="row g-4">
    <div class="col-md-4">
        <div class="card h-100 shadow-sm border-0">
        <div class="card-body">
            <h5 class="card-title">206 907 animaux abandonnés au total</h5>
            <p class="card-text">
            En 2021, le nombre d'animaux abandonnés (60 000 chiens et 150 000 chats) établi par le CNR BEA.
            </p>
        </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100 shadow-sm border-0">
        <div class="card-body">
            <h5 class="card-title">39 863 animaux ont été adoptés</h5>
            <p class="card-text">
            Les chiens sont les plus impactés : -6,4 % d’adoptions par rapport à l’année précédente. La SPA s’inquiète de cette diminution.
            </p>
        </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100 shadow-sm border-0">
        <div class="card-body">
            <h5 class="card-title">43 742 animaux pris en charge</h5>
            <p class="card-text">
            64 refuges et Maisons SPA : 12 253 chiens, 28 547 chats, 2 942 NAC, animaux de ferme et équidés.
            </p>
        </div>
        </div>
    </div>
    </div>
    </div>
</section>


<!-- Call to Action -->
<section class="py-5 bg-light text-center">
<div class="container">
    <h2>Prêt à adopter ?</h2>
    <p>Inscrivez vous à notre Refuge pour pouvoir parcourir le catalogue.</p>
    <a [routerLink]="[ '/inscription' ]" class="btn btn-primary btn-lg">Je m'inscris</a>
</div>
</section>

<!-- Footer -->
<footer class="py-4 bg-dark text-white text-center">
<div class="container">
    <p class="mb-0">© 2025 Refuge. Tous droits réservés.</p>
</div>
</footer>

